@import "../../index.scss";

.portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  &__headline {
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }

  &__tab-list {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }
  }

  &__item {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;

    @include mobile {
      width: 280px;
      height: auto;
    }

    &:hover {
      background-color: $mainColor;

      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    z-index: 1;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__test {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 20px;
    color: #fff;
    align-items: center;
  }
}

.fa-globe,
.fa-github {
  color: #fff;

  &:hover {
    color: crimson;
  }
}

.fa-globe {
  margin-right: 25px;
}
