@import "../../index.scss";

.portfolio {
  background-color: #060220;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {
    font-size: 50px;
    color: #fff;

    @include mobile {
      font-size: 30px;
    }
  }

  &__tab-list {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 20px;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }
  }

  &__card {
    background-color: #0b072e;
    // height: 272px;
    height: 350px;
    width: 190px;

    border-radius: 5px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;

    @include mobile {
      height: 130px;
      width: auto;
    }
  }

  &__img {
    width: auto;
    height: 50%;
    // object-fit: cover;

    @include mobile {
      // height: 60%;
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    margin-top: 15px;

    @include mobile {
      font-size: 12px;
      margin-top: 10px;
    }
  }

  &__label-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    @include mobile {
      margin-top: 10px;
    }
  }

  &__label {
    font-size: 12px;
    background-color: #98b9de;
    border-radius: 5px;
    color: #fff;
    padding: 5px 12px;
    text-align: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @include mobile {
      display: none;
      font-size: 10px;
      padding: 5px 8px;
    }
  }

  &__link-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
