@import "../../index.scss";

.portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  &__headline {
    font-size: 50px;
  }

  &__tab-list {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__tab {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      background-color: $mainColor;
      color: #fff;
    }
  }

  &__container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: $mainColor;

      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    z-index: 1;
  }

  &__title {
    position: absolute;
    font-size: 20px;
  }
}
