@import "../../index.scss";

.about {
  background-color: #060220;
  color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;

  &__headline {
    font-size: 50px;
    color: #fff;
    margin-bottom: 70px;

    @include mobile-big {
      font-size: 40px;
      margin-bottom: 25px;
    }

    @include mobile {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 55px;
    margin: 0 35px;

    @include mobile-big {
      grid-template-columns: 1fr;
      row-gap: 28px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 26px;
    }
  }

  &__content-left {
    @include mobile-big {
      grid-row: 2;
    }

    @include mobile {
      grid-row: 2;
    }
  }

  &__content-right {
    @include mobile-big {
      justify-self: center;
    }

    @include mobile {
      justify-self: center;
    }
  }

  &__img {
    height: 300px;
    width: auto;
    border-radius: 5px;

    @include mobile-big {
      height: 250px;
    }

    @include mobile {
      // height: 185px;
      height: 175px;
    }
  }

  &__text {
    max-width: 643px;
    margin-bottom: 18px;
    line-height: 22px;

    @include mobile-big {
      font-size: 15px;
      text-align: justify;

      &.last {
        display: none;
      }
    }

    @include mobile {
      font-size: 15px;
      text-align: justify;

      &.last {
        display: none;
      }
    }
  }

  &__list {
    margin-left: 24px;

    @include mobile-big {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
