@import "../../index.scss";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  transition: all 1s ease-in-out;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.314) 0%,
      rgba(0, 0, 0, 0.31) 0%
    ),
    url("https://res.cloudinary.com/dxdboxbyb/image/upload/v1645726233/my_portfolio/my0pl7n3u8wxmevnrsoz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
