@import "../../index.scss";

.navbar {
  color: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  background-color: transparent;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
  }

  &__logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
  }

  &__right {
    color: red;
  }

  .hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    &__line {
      width: 100%;
      height: 3px;
      background-color: #fff;
      transform-origin: left;
      transition: all 1.5s ease;
    }
  }

  &.active {
    background-color: #fff;
    color: $mainColor;

    .hamburger {
      &__line--1 {
        background-color: $mainColor;
        transform: rotate(45deg);
      }

      &__line--2 {
        opacity: 0;
      }

      &__line--3 {
        background-color: $mainColor;
        transform: rotate(-45deg);
      }
    }
  }
}
