@import "../../index.scss";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 70px;
  height: calc(100vh - 70px);

  @include mobile {
    padding: 0 10px;
  }

  &__content {
    color: #fff;
  }

  &__title--1 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__title--2 {
    font-size: 50px;
    // font-size: 80px;
    // line-height: 88px;
    line-height: 58px;
    margin-bottom: 10px;
  }

  &__title--3 {
    font-size: 50px;
    // font-size: 80px;
    // line-height: 72px;
    line-height: 52px;
    margin-bottom: 20px;
    opacity: 0.8;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
    max-width: 750px;
    margin-bottom: 40px;
  }

  &__icon-link {
    position: absolute;
    bottom: 0;
    left: 45%;
  }

  &__icon {
    width: 45px;
    transform: rotate(90deg);
    animation: arrowBlink 2s infinite;
  }

  &__btn {
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #fff;
  }
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}
