@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");

//global variables
$mainColor: #060220;

// @mixin mobile-big {
//   @media (max-width: #{420px}) {
//     @content;
//   }
// }

@mixin mobile-big {
  @media (max-width: #{1090px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{376px}) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
