@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");

//global variables
$mainColor: #15023a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
