@import "../../index.scss";

.work {
  background-color: #060220;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__headline {
    font-size: 50px;
    color: #fff;
    align-self: flex-start;

    @include mobile {
      font-size: 30px;
    }
  }
}

.slider {
  // height: 350px; old
  height: 300px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;

  @include tablet {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  @include mobile {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;
  }

  &__container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    width: 700px;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    // align-items: center;
    justify-content: center;
    overflow: hidden;

    @include tablet {
      width: 90%;
      height: 200px;
      margin: 10px 0;
    }

    @include mobile {
      position: relative;
      width: 90%;
      height: 135px;
      margin: 10px 0;
      font-size: 12px;
    }
  }

  &__item-left {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0 10px;
  }

  &__container-left {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
      height: 100%;
    }
  }

  &__titles {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 3px;

    @include mobile {
      font-size: 17px;
    }
  }

  &__subtitle {
    font-size: 15px;
    opacity: 0.6;

    @include mobile {
      font-size: 13px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;

    @include mobile {
      font-size: 12px;
    }
  }

  &__buttons {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      margin-top: 10px;

      position: absolute;
      top: 8px;
      right: 27px;
    }
  }

  &__btn {
    text-decoration: none;
    background-color: crimson;
    font-size: 13px;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    width: 40%;

    &:hover {
      background-color: rgba(220, 20, 60, 0.856);
    }

    @include mobile {
      width: 70px;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item-right {
    width: 65%;
    display: flex;

    //hmm vielleicht raus
    padding: 15px 15px 15px 0;

    @include mobile {
      display: none;
    }
  }

  &__img-right {
    width: 500px;
    width: 400px;
    border-radius: 0 5px 5px 0;

    @include mobile {
      width: 80%;
    }
  }

  &__arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotate(180deg);
    }
    &.right {
      right: 100px;
    }
  }
}
